* {
    font-weight: 200;
    letter-spacing: 1px;
}

body {
    padding-top: 80px;
}

h3 {
    margin: 0;
}

.color-white {
    color: #e3e3e3;
}

.img-center {
    margin: 0 auto;
}

.navbar {
    min-height: 80px;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: solid 6px #f3ecec;
    box-shadow: 0 2px 10px 0 #504d4d;
    background: #fc5329;
}



.navbar-brand {
    padding: 0 0px;
    height: 80px;
    line-height: 80px;
}

.navbar-brand>img {
    margin-top: 10px;
    max-width: 150px;
}

.navbar-toogle {
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
        font-weight: 400;
        letter-spacing: 2px;
    }
}


h1.title {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

#about {
    background: #353535;
    color: #fff;
}

#about img,
#kategori img {
    width: 100%;
}


#about,
#kategori,
#team,
#contact {
    padding: 50px 0;
}

#prinsip {
    text-align: center;
    background: #353535;
}

#slideatas {
    background: #818181;
}

.br {
    background: #818181
}

#team img {
    width: 180px;
    border: solid 5px #fff;

}

.team-name {
    padding: 10px;
    color: #e3e3e3;
}

#kategori {
    background: #7e7979;
}

.kategori-title {
    padding: 15px;
    background: #e67b00;
    height: 100%
}

.kategori-title h3 {
    font-size: 1em;
    color: #fff;
}

.kategori h1 {
    font-size: 1em;
    color: #fff;
}

#contact {
    color: #1b61ca;
    background: #e5ebf0;
}

footer {
    padding: 15px 0;
    background: #0067b1;
    color: #e3e3e3;
    font-weight: 500;
}


@media only screen and (max-width : 640px) {
    .box-kategori {
        margin-bottom: 20px;
    }

    #about img {
        margin-bottom: 20px;
    }

    #about,
    #kategori,
    #team,
    #contact {
        padding: 30px 0;

    }

    #contact {
        text-align: center;
    }
}

#biodata {
    background: #353535;

}

#biodata h2 {
    color: #e3e3e3
}

#fotoprofil {
    background: #353535;
}

#fotoprofil h3 {
    color: #e3e3e3
}